.react-chat-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  flex: 1 !important
}

.react-chat-row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-right: -15px;
  margin-left: -15px;
}

.react-chat-viewerBox {
  min-height: 100%;
  max-height: 700px;
  color: #212529;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  outline: 0;
}

.react-chat-messagesList {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.react-chat-messagesListContent {
  padding: 16px 16px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.react-chat-messageBox {
  max-width: 100%;
  background: none;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
}

.react-chat-messageBoxLeft {
  padding-left: 40px;
  align-items: flex-start;
  text-align: left;
}

.react-chat-messageBoxRight {
  padding-right: 40px;
  align-self: flex-end;
  align-items: flex-end;
  text-align: right;
}

.react-chat-message-buttonGroupLeft a {
  text-align: center;
  color: #212529;
}

.react-chat-message-buttonGroupRight a {
  text-align: center;
  color: #007bff;
}

.react-chat-messageLeft {
  align-items: flex-start;
  text-align: left;
}

.react-chat-messageRight {
  align-self: flex-end;
  align-items: flex-end;
  text-align: right;
}

.react-chat-bubble {
  transition: 0.2s linear;
  order: -1;
  border-radius: 12px;
  padding: 16px 22px;
  border-width: 1px;
  border-style: solid;
  word-wrap: break-word;
  font-size: 1rem;
  width: fit-content;
  text-align: left;
  word-break: break-word;
  line-height: 21px;
  white-space: break-spaces;
}

.react-chat-leftBubble {
  border-bottom-left-radius: 2px;
  border-color: #e4e7eb;
  color: #212529;
  background-color: #e4e7eb;
  float: left;
}

.react-chat-rightBubble {
  border-bottom-right-radius: 2px;
  border-color: #007bff;
  color: #fff;
  background-color: #007bff;
  float: right;
}

.react-chat-avatar {
  border-radius: 100%;
  width: 34px;
  height: 34px;
  margin: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-style: none;
  bottom: 20px;
}

.react-chat-avatarLeft {
  left: 0;
}

.react-chat-avatarRight {
  right: 0;
}

.react-chat-inputBox {
  border: 0.085rem solid #ccc;
  color: #333;
  border-radius: 12px;
  background-color: #fff;
  padding: 10px 16px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.disabled {
  background-color: rgb(216, 216, 216)
}

.react-chat-textarea {
  min-height: 80px;
  max-height: 40vh;
  font-size: 14px;
  line-height: 21px;
  color: #18212c;
  margin: 0;
  border: 0;
  background: none;
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  resize: none;
}

.react-chat-sendButton {
  color: #444 !important;
  font-size: 24px !important;
  padding: 0;
  border-color: transparent !important;
  color: inherit;
  background: none !important;
  box-shadow: none !important;
  transition: 0.2s ease-in-out !important;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: 1rem;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: relative;
}

.react-chat-sendButton:hover {
  color: #007bff !important;
}

.react-chat-SendIcon-disable {
  fill: #212529;
  cursor: auto;
}

.react-chat-additional {
  margin: 16px 0 0 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #5f6368;
  font-size: 13px;
}

.react-chat-bubbleWithError {
  position: relative;
}

.react-chat-error {
  position: absolute;
  color: red;
}

.react-chat-errorLeft {
  right: -30px;
}

.react-chat-errorRight {
  left: -30px;
}

.react-chat-note {
  background-color: rgb(255, 231, 169);
  width: 312px;
  padding: 12px 16px;
  border-color: rgb(255, 231, 169);
  border-style: solid;
  border-width: 2px;
  border-radius: 6px 6px 0px;
  text-align: left;
  word-break: break-word;
  margin: 26px 0;
}