.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  margin: 16px auto;
  background: #fff;
  padding: 18px 46px;
  border: 1px solid #ccc;
}

.container p:nth-child(1) {
  margin: 0;
}

.input__icon {
  color: rgba(0, 0, 0, 0.25);
}

.btn {
  width: 100%;
}
