main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background: #f0f4f9;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../logo.png') no-repeat bottom left;
  background-size: 18%;
}

article p {
  margin: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin-top: 6%;
  border: 1px solid #e6ecf8;
  transition: all 0.3s;
  background: #fff;
  padding: 56px 36px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.table__container {
  width: 70%;
  padding: 32px 18px !important;
  background: #fff;
  z-index: 1;
}

.bigger__container {
  box-shadow: 0 0 4px #6782ee;
  margin: 0 auto;
  position: relative;
  top: -10%;
  border-radius: 8px;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 36px;
  width: 100%;
  background: #5553b7;
  height: 30%;
  margin-top: 4px;
}

.banner h1 {
  font-size: 2.875rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.banner__card {
  background: #5553b7;
  position: relative;
  height: 150px;
  display: flex;
  padding: 22px;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__card h1 {
  color: white;
}

.banner h1::after,
.banner__card h1::after {
  content: '';
  display: block;
  margin-top: 4px;
  width: 70px;
  height: 4px;
  background: #fff;
}

.input__icon {
  color: rgba(0, 0, 0, 0.25);
}

.btn {
  width: 100%;
}

.note {
  background: #ffe7a9;
  position: relative;
  padding: 36px 28px;
  margin: 6px;
  border-radius: 6px;
  transition: 0.2s ease-out;
}

.note:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.note:hover .delete__note {
  display: inline-block;
}

.delete__note {
  display: none;
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 40%;
}
