body {
  background: url('./logo.png') no-repeat bottom left;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  max-width: 935px;
  width: 100%;
}

/* customizing antd */

.ant-form-explain {
  font-size: 12px;
}

.ant-btn[disabled] {
  cursor: inherit;
}