html,
body,
#root {
  height: 100%;
  background-color: #fff;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #293347;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

img {
  vertical-align: inherit !important;
  width: 100%;
  height: auto;
}

.selected {
  border-top: 6px solid #a0c5e8;
}

/* scroll*/

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c0c0c0;
}

/* customizing antd */

.ant-tabs-content {
  padding-right: 8px;
  overflow: auto;
}

.ant-form-explain {
  font-size: 0.875rem;
}

.ant-btn[disabled] {
  cursor: inherit;
}

.ant-dropdown-menu-item a {
  transition: all 0.3s ease 0s;
  line-height: 1.7;
  width: 100%;
  padding: 14px 65px 14px 41px;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  text-align: inherit;
  white-space: nowrap;
  clear: both;
  font-weight: 600;
}

.ant-message-notice-content {
  padding: 18px 16px;
}

.ant-form {
  width: 100% !important;
  max-width: 500px;
}

.ant-tabs-tab {
  width: 40%;
  text-align: center;
}

.ant-tabs-tab-active {
  background: #5553b7 !important;
  color: #fff !important;
}

.ant-tabs-tabpane-active .ant-card-hoverable:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  margin: 4px 0;
}

.ant-tabs-content {
  max-height: 460px;
  min-height: 460px;
  overflow: auto;
}

.ant-card {
  display: flex;
  flex-direction: column;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  flex: 1 !important;
}

.ant-divider-horizontal {
  margin: 12px 0 !important;
}

.chart__container {
  padding: 36px;
  border-radius: 6px;
  background-color: #172b4d !important;
}

.chart {
  background-color: #172b4d !important;
  position: relative;
  height: 350px;
}

.chart-sm {
  height: 230px;
}

.chart-legend {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  font-size: 0.875rem;
  text-align: center;
  color: #8898aa;
}

.chart-legend-item {
  display: inline-flex;
  align-items: center;
}

.chart-legend-item + .chart-legend-item {
  margin-left: 1rem;
}

.chart-legend-indicator {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
}

#chart-tooltip {
  z-index: 0;
}

#chart-tooltip .arrow {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateX(-0.5rem);
}

.chart-info-overlay {
  position: absolute;
  top: 0;
  left: 5%;
  max-width: 350px;
  padding: 20px;
  z-index: 1;
}
.stats {
  box-shadow: 0 0 4px #6782ee;
  position: relative;
  padding: 16px;
  top: -80px;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
}

.stat__card {
  cursor: pointer;
  display: inline-block;
  width: 25%;
  padding: 3%;
  margin: 26px 0 46px 0;
}
.stat__card h2 {
  color: #444;
  font-weight: 700;
}
.stat__card h3 {
  color: rgb(87, 86, 86);
}
.stats .active h3 {
  color: #5553b7;
}
.stats .active h2 {
  color: #5553b7;
}
.stats .active {
  background: #fbfbfb;
  border-top: 3px solid #5553b7;
}
.stat__card span {
  font-size: 16px;
  color: #777;
}
