html, body, #root {
  height: 100%;
  background-color: #fff;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #293347;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

img {
  vertical-align: inherit !important;
  width: 100%;
  height: auto;
}

.selected {
  border-top: 6px solid #a0c5e8;
}

/* scroll*/

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C0C0C0;
}

/* customizing antd */

.ant-tabs-content {
  padding-right: 8px;
  overflow: auto;
}

.ant-form-explain {
  font-size: 0.875rem;
}

.ant-btn[disabled] {
  cursor: inherit;
}

.ant-dropdown-menu-item a {
  transition: all 0.3s ease 0s;
  line-height: 1.7;
  width: 100%;
  padding: 14px 65px 14px 41px;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  text-align: inherit;
  white-space: nowrap;
  clear: both;
  font-weight: 600;
}

.ant-message-notice-content {
  padding: 18px 16px;
}

.ant-form {
  width: 60% !important;
}

.ant-tabs-tab {
  width: 40%;
  text-align: center;
}

.ant-tabs-tab-active {
  background: #5553b7 !important;
  color: #fff !important;
}

.ant-tabs-tabpane-active .ant-card-hoverable:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  margin: 4px 0;
}

.ant-tabs-content {
  max-height: 445px;
  min-height: 445px;
  overflow: auto;
}

.ant-card {
  display: flex;
  flex-direction: column;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  flex: 1 !important
}

.react-chat-inputBox+textarea:focus {
  border: 1px solid rgb(13, 140, 255) !important;
  background: red;
}

.ant-divider-horizontal {
  margin: 12px 0 !important;
}