body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

h1 {
  color: #293347;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

img {
  vertical-align: inherit !important;
  width: 100%;
  height: auto;
}

.selected {
  border-top: 6px solid #a0c5e8;
}

/* scroll*/

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

/* customizing antd */

.ant-tabs-content {
  height: 57vh;
  padding-right: 8px;
  overflow: auto;
}

.ant-form-explain {
  font-size: 12px;
}

.ant-btn[disabled] {
  cursor: inherit;
}

.ant-dropdown-menu-item a {
  transition: all 0.3s ease 0s;
  line-height: 1.7;
  width: 100%;
  padding: 14px 65px 14px 41px;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  text-align: inherit;
  white-space: nowrap;
  clear: both;
  font-weight: 600;
}

.ant-message-notice-content {
  padding: 18px 16px;
}

.ant-form {
  width: 320px !important;
}

.ant-tabs-tab {
  width: 109px;
  text-align: center;
}

.ant-tabs-tab-active {
  background: #5553b7 !important;
  color: #fff !important;
}

.ant-tabs-tabpane-active .ant-card-hoverable:hover {
  background: #f3f6fa !important;
}
