/* customizing antd */

.ant-form-explain {
  font-size: 12px;
}

.ant-btn[disabled] {
  cursor: inherit;
}

.ant-dropdown-menu-item a {
  transition: all 0.3s ease 0s;
  line-height: 1.7;
  width: 100%;
  padding: 14px 65px 14px 41px;
  display: block;
  font-size: 0.875rem;
  letter-spacing: .04em;
  text-align: inherit;
  white-space: nowrap;
  clear: both;
  font-weight: 600;
}

img {
  vertical-align: inherit !important;
  width: 100%;
  height: auto;
}