/* customizing antd */
body {
  height: 100vh;
  overflow: hidden;
}
.ant-form-explain {
  font-size: 12px;
}
.ant-btn[disabled] {
  cursor: inherit;
}
h1 {
  color: #293347;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

.ant-dropdown-menu-item a {
  transition: all 0.3s ease 0s;
  line-height: 1.7;
  width: 100%;
  padding: 14px 65px 14px 41px;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  text-align: inherit;
  white-space: nowrap;
  clear: both;
  font-weight: 600;
}
.ant-message-notice-content {
  padding: 18px 16px;
}
img {
  vertical-align: inherit !important;
  width: 100%;
  height: auto;
}

.selected {
  margin-bottom: -4px;
  border-bottom: 4px solid #a0c5e8;
}
.ant-form {
  width: 320px !important;
}
