body {
  height: 100vh;
  overflow: hidden;
}
h1 {
  color: #293347;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}
img {
  vertical-align: inherit !important;
  width: 100%;
  height: auto;
}

.selected {
  border-top: 6px solid #a0c5e8;
}

/* customizing antd */
.ant-form-explain {
  font-size: 12px;
}
.ant-btn[disabled] {
  cursor: inherit;
}

.ant-dropdown-menu-item a {
  transition: all 0.3s ease 0s;
  line-height: 1.7;
  width: 100%;
  padding: 14px 65px 14px 41px;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  text-align: inherit;
  white-space: nowrap;
  clear: both;
  font-weight: 600;
}
.ant-message-notice-content {
  padding: 18px 16px;
}
.ant-form {
  width: 320px !important;
}
.ant-tabs-tab {
  width: 109px;
  text-align: center;
}
.ant-tabs-tab-active {
  background: #5553b7 !important;
  color: #fff !important;
}
.ant-tabs-tabpane-active .ant-card-hoverable:hover {
  background: #f3f6fa !important;
}

/* .rcw-launcher {
  display: none;
}
.react-chat-row {
  width: 100% !important;
}
.react-chat-container {
  margin: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
.react-chat-viewerBox {
  background: #f5f5fa !important;
  box-shadow: 0 0 4px #6782ee;
  border: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  border: none !important;
  min-height: calc(100vh - 130px) !important;
}
.react-chat-textarea {
  border: #a0c5e8 !important;
}
.react-chat-sendButton {

} */
